
Reports/*
fsaautomation/test-output/*
fsaautomation/target/*
fsaautomation/.settings/*
fsaautomation/target/*
*.lst
*.class
fsaautomation/.DS_Store
fsaautomation/bin/pom.xml
fsaautomation/.classpath
fsaautomation/bin/resources/config.properties
fsaautomation/bin/resources/FSA.ipa
fsaautomation/bin/resources/FSA_old.ipa
fsaautomation/bin/resources/jars/NXGReporter_lite.jar
fsaautomation/bin/resources/KIRWA.properties
fsaautomation/bin/resources/TestData.xlsx
fsaautomation/bin/testng.xml
.DS_Store
fsaautomation/.project
